/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 30%;
    
    
  }
  
  /* The Close Button */
  .close {
   
    background-color: #a0c4c6;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin: auto;  
    width:50%;
    border:none;
    height:25%;
    font-size: 15px;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


#spoiler {
    width:100%;
    padding: 10px;
    background:transparent;
    
    border: none;
    
    

}

.modal-text {
    margin:auto;
    text-align: center;
    display:block;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;      /* Adds space between text and button */
    text-align: center; 
    color: black;

}

header {
    text-align:center;
    background-color:white;
    padding:10px;
    width: 60%;
    margin:auto;
    opacity:0.7;
    color: black;
    font-family:"Nova Oval", system-ui;

   
}

body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/k6okX2VVUg4qWoyxuNLsf7-1200-80.jpg");
    background-size:cover;
    background-attachment:fixed;
    font-size:20px;
    
    font-family: "Sofadi One", system-ui;
    z-index:-1;
    
}

.summary {
  width:85%;
  margin:auto;
  text-align:center;
  background-color:white;
  color:black;
  opacity:0.7;
  width: 80%;
  padding:15px;
  margin:20px auto;
  
  
}

.books {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between book entries */
}

.books > div {
  display: flex;
  flex-direction:row;
  align-items:flex-start;
  
  background-color: white;
  opacity: 0.7;
  width:80%;
  
  margin:auto;
}

.book-content {
  display:flex;
  flex-direction:column;
justify-content:center;
 
  gap:20px;
  padding: 15px;
}

.books img {
  max-width: 200px; /* Set a max width for the images */
  height: auto;
  
  
  
  
 
  
}

.golden-compass img {
  margin:50px 20px 20px 20px;
}


.subtle-knife img {
  margin:40px 20px 20px 20px;
}

.amber-spyglass img {
  margin:20px;
}

.book-img {
  display:flex;
  align-items:center;
  
}
.books p {
  
  text-align: left; /* Ensure the text is aligned left */
  margin: 0;

}

.books h2 {
  text-align:left;
  margin-bottom:5px;
}




.tvshow {
    
    
    border-radius: 15px;
    color:white;
    text-align:center;
    
}

.tvshow-content {
  display:flex;
  align-items:flex-start;
  gap:20px;
  padding: 15px;
margin-left:200px;


}
 

iframe {
  margin:auto;

  
}

#image {
  max-width:50%;
  height:auto;  
  opacity:0.9;

}

#img-caption {
  text-align:center;
  color:white;
}